<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__left">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/icons/logo2.svg" alt="">
                    </a>
                    <p>
                        Красота начинается
                        с комфорта
                    </p>
                </div>
                <div class="footer-top__menu">
                    <div class="footer-top__title">
                        Покупателям
                    </div>
                    <ul>
                        <li>
                            <a href="./">Как оформить заказ</a>
                        </li>
                        <li>
                            <a href="./">Доставка Ozon</a>
                        </li>
                        <li>
                            <a href="./">Обмен и возврат</a>
                        </li>
                        <li>
                            <a href="./">Таблица размеров</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__menu">
                    <div class="footer-top__title">
                        О компании
                    </div>
                    <ul>
                        <li>
                            <a href="./">Контакты</a>
                        </li>
                        <li>
                            <a href="./">Оферта</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__right">
                    <div class="footer-top__title">
                        Контакты
                    </div>
                    <div class="footer-top__contacts">
                        <div class="footer-top__contact">
                            <div class="footer-top__socials">
                                <a href="./">
                                    <img loading="lazy" src="img/icons/telegram.svg" alt="">
                                </a>
                                <a href="./">
                                    <img loading="lazy" src="img/icons/max.svg" alt="">
                                </a>
                                <a href="tel:79882500408" class="footer-top__phone">
                                    +7 988 250-04-08
                                </a>
                            </div>
                        </div>
                        <div class="footer-top__contact">
                            <div class="footer-top__title-socials">
                                Мы в соцсетях:
                            </div>
                            <div class="footer-top__socials">
                                <a href="./">
                                    <img loading="lazy" src="img/icons/vk.svg" alt="">
                                </a>
                                <a href="./">
                                    <img loading="lazy" src="img/icons/ok.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">
                    © BodyBra 2026
                </div>
                <div class="footer-bottom__site">
                    <span>Разработка сайта:</span>
                    <a href="./">miridea.ru</a>
                </div>
                <a href="./" class="footer-bottom__policy">
                    Политика конфиденциальности
                </a>
                <div class="footer-bottom__pay">
                    <img loading="lazy" src="img/icons/yandex.svg" alt="">
                    <img loading="lazy" src="img/icons/mastercard.svg" alt="">
                    <img loading="lazy" src="img/icons/visa.svg" alt="">
                    <img loading="lazy" src="img/icons/mir.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>