<header class="header">
    <div class="container">
        <div class="header__contents">
            <div class="header__content">
                <a href="./" class="header__logo">
                    <img src="img/icons/logo1.svg" alt="">
                </a>
                <div class="header-menu">
                    <ul>
                        <li class="header-menu-catalog">
                            <div data-da=".header__contents, 992, last" class="header-menu__catalog">
                                <button type="button" class="header-menu__catalog-btn">
                                    <span data-text="Каталог">Каталог</span>
                                    <svg aria-hidden="true" width="5" height="10">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </button>
                                <div class="header-menu__dropdown">
                                    <ul>
                                        <li>
                                            <a data-text="Бюстгалтера" href="./">Бюстгалтера</a>
                                        </li>
                                        <li>
                                            <a data-text="Трусы" href="./">Трусы</a>
                                        </li>
                                        <li>
                                            <a data-text="Комплекты" href="./">Комплекты</a>
                                        </li>
                                        <li>
                                            <a data-text="Одежда для сна" href="./">Одежда для сна</a>
                                        </li>
                                        <li>
                                            <a data-text="Скидки недели" href="./">Скидки недели</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a data-text="Новинки" href="./">Новинки</a>
                        </li>
                        <li>
                            <a data-text="Скидки" href="./">Скидки</a>
                        </li>
                        <li>
                            <a data-text="Доставка и оплата" href="./">Доставка и оплата</a>
                        </li>
                        <li>
                            <a data-text="О бренде" href="./">О бренде</a>
                        </li>
                    </ul>
                </div>
                <div class="header__right">
                    <div class="header__icons">
                        <button type="button" class="header__icon header-search-button">
                            <img src="img/icons/search.svg" alt="">
                        </button>
                        <a href="./" class="header__icon">
                            <img src="img/icons/heart.svg" alt="">
                        </a>
                        <a href="./" class="header__icon">
                            <img src="img/icons/user1.svg" alt="">
                        </a>
                        <a href="./" class="header__icon">
                            <div class="header__count">
                                <span>2</span>
                            </div>
                            <img src="img/icons/cart.svg" alt="">
                        </a>
                    </div>
                    <button type="button" class="header__burger">
                        <span class="icon-menu">
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>