<div class="header-search">
    <button type="button" data-close class="header-search__close">
        <svg aria-hidden="true" width="10" height="10">
            <use xlink:href="img/sprite.svg#close"></use>
        </svg>
    </button>
    <div class="block-search">
        <div class="block-search__input">
            <img src="img/icons/search.svg" alt="">
            <input autocomplete="off" type="text" name="form[]" placeholder="Поиск" value="Бюстгальтер бесшовный">
            <button type="button" class="block-search__delete active">
                <svg aria-hidden="true" width="10" height="10">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
        <button type="button" class="btn">
            <span>Найти</span>
        </button>
    </div>
    <div class="header-search__content">
        <div class="header-search__body">
            <div class="header-search__left">
                <div class="header-search__title">
                    Категории
                </div>
                <div data-simplebar class="header-search__simplebar">
                    <div class="filter-sorting">
                        <button data-filter="filter1" type="button" class="filter-sorting__button">
                            <span data-text="Пижамы">Пижамы</span>
                        </button>
                        <button data-filter="filter2" type="button" class="filter-sorting__button">
                            <span data-text="Пижамы с шортами">Пижамы с шортами</span>
                        </button>
                        <button data-filter="filter3" type="button" class="filter-sorting__button">
                            <span data-text="Пижама с рюшами">Пижама с рюшами</span>
                        </button>
                        <button data-filter="filter1" type="button" class="filter-sorting__button">
                            <span data-text="Пижамы">Пижамы</span>
                        </button>
                        <button data-filter="filter2" type="button" class="filter-sorting__button">
                            <span data-text="Пижамы с шортами">Пижамы с шортами</span>
                        </button>
                        <button data-filter="filter3" type="button" class="filter-sorting__button">
                            <span data-text="Пижама с рюшами">Пижама с рюшами</span>
                        </button>
                        <button data-filter="filter1" type="button" class="filter-sorting__button">
                            <span data-text="Пижамы">Пижамы</span>
                        </button>
                        <button data-filter="filter2" type="button" class="filter-sorting__button">
                            <span data-text="Пижамы с шортами">Пижамы с шортами</span>
                        </button>
                        <button data-filter="filter3" type="button" class="filter-sorting__button">
                            <span data-text="Пижама с рюшами">Пижама с рюшами</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-search__right">
                <div class="header-search__title">
                    Товары
                </div>
                <div class="header-search__cards">
                    <div data-filter="filter1" class="card-cart filter-card">
                        <div class="card-cart__left">
                            <a href="./" class="card-cart__pic1">
                                <img loading="lazy" src="img/products/image4.webp" alt="">
                            </a>
                            <div class="card-cart__item">
                                <a href="./" class="card-cart__name">
                                    <span data-text="Бюстгальтер без косточек бесшовный гладкий">Бюстгальтер
                                        без косточек бесшовный гладкий</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-cart__right">
                            <div class="card-cart__prices">
                                <div class="card-cart__old-price">
                                    3 900 ₽
                                </div>
                                <div class="card-cart__new-price">
                                    1 631 ₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-filter="filter2" class="card-cart filter-card">
                        <div class="card-cart__left">
                            <a href="./" class="card-cart__pic1">
                                <img loading="lazy" src="img/products/image2.webp" alt="">
                            </a>
                            <div class="card-cart__item">
                                <a href="./" class="card-cart__name">
                                    <span data-text="Бюстгальтер без косточек бесшовный гладкий">
                                        Бюстгальтер без косточек бесшовный гладкий
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="card-cart__right">
                            <div class="card-cart__prices">
                                <div class="card-cart__old-price">
                                    3 900 ₽
                                </div>
                                <div class="card-cart__new-price">
                                    2 490 ₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-filter="filter3" class="card-cart filter-card">
                        <div class="card-cart__left">
                            <a href="./" class="card-cart__pic1">
                                <img loading="lazy" src="img/products/image1.webp" alt="">
                            </a>
                            <div class="card-cart__item">
                                <a href="./" class="card-cart__name">
                                    <span data-text="Бюстгальтер без косточек с пушапом">
                                        Бюстгальтер без косточек с пушапом
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="card-cart__right">
                            <div class="card-cart__prices">
                                <div class="card-cart__old-price">
                                    3 900 ₽
                                </div>
                                <div class="card-cart__new-price">
                                    1 631 ₽
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-filter="filter1" class="card-cart filter-card">
                        <div class="card-cart__left">
                            <a href="./" class="card-cart__pic1">
                                <img loading="lazy" src="img/products/image3.webp" alt="">
                            </a>
                            <div class="card-cart__item">
                                <a href="./" class="card-cart__name">
                                    <span data-text="Бюстгальтер бесшовный гладкий с чашками">
                                        Бюстгальтер бесшовный гладкий с чашками
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="card-cart__right">
                            <div class="card-cart__prices">
                                <div class="card-cart__old-price">
                                    3 900 ₽
                                </div>
                                <div class="card-cart__new-price">
                                    2 490 ₽
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="./" class="header-search__more">
            <svg aria-hidden="true" width="6" height="11">
                <use xlink:href="img/sprite.svg#arrow1"></use>
            </svg>
            <span>Смотреть все результаты</span>
        </a>
    </div>
</div>