<div class="block-newsletter">
    <div class="container">
        <div class="block-newsletter__content">
            <div class="heading-complex">
                <h2 class="title2">
                    Узнавайте первыми О закрытых распродажах и новых коллекциях
                </h2>
                <p>
                    Дарим скидку <span class="sale-text">5%</span> <span>на первый заказ за подписку</span>
                </p>
            </div>
            <form action="#" data-dev data-popup-message="#thanks" class="form form-newsletter">
                <div class="form__input">
                    <img loading="lazy" src="img/icons/mail1.svg" alt="">
                    <input data-required autocomplete="off" type="text" name="form[]" placeholder="Введите ваш email"
                        class="input">
                </div>
                <button type="submit" class="btn">
                    <span>Подписаться</span>
                    <svg aria-hidden="true" width="6" height="11">
                        <use xlink:href="img/sprite.svg#arrow1"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>