<div class="pagging">
    <span class="pagging__item_nav pagging__item_nav-prev">
        <img src="img/icons/arrow1-gradient.svg" alt="">
        <span>Назад</span>
    </span>
    <div class="pagging__center">
        <a class="pagging__item" href="./">
            <span>1</span>
        </a>
        <a class="pagging__item pagging__item_active" href="./">
            <span>2</span>
        </a>
        <a class="pagging__item pagging__item_ellipsis" href="./">
            <span>...</span>
        </a>
        <a class="pagging__item" href="./">
            <span>14</span>
        </a>
        <a class="pagging__item" href="./">
            <span>15</span>
        </a>
    </div>
    <a class="pagging__item_nav  pagging__item_nav-next" href="./">
        <span>Вперед</span>
        <img src="img/icons/arrow1-gradient.svg" alt="">
    </a>
</div>