<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О бренде</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main block-main-about">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>О бренде</span></li>
                                </ul>
                            </div>
                            <h1 class="title1">
                                Красота, которая <br> начинается с комфорта
                            </h1>
                            <img src="img/image5.webp" alt="" class="heading-complex__bg desc">
                            <img src="img/image4.webp" alt="" class="heading-complex__bg mob">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about-descr">
                <div class="container">
                    <div class="block-about-descr__content">
                        <div class="block-about-descr__body">
                            <div class="block-about-descr__icon">
                                <img loading="lazy" src="img/icons/logo3.svg" alt="">
                            </div>
                            <p>
                                Мы создали этот бренд, потому что верим: нижнее белье не должно диктовать вам, как себя
                                чувствовать. Никаких жестких каркасов, колючих швов и компромиссов между эстетикой и
                                удобством. Только мягкие линии, которые повторяют контуры вашего тела, и ткани, которых
                                не хочется снимать
                            </p>
                        </div>
                        <div class="block-about-descr__images">
                            <img loading="lazy" src="img/products/image1.webp" alt="" class="block-about-descr__pic1">
                            <img loading="lazy" src="img/products/image4.webp" alt="" class="block-about-descr__pic2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about-benefits">
                <div class="container">
                    <div class="block-about-benefits__body">
                        <div class="card-steps">
                            <div class="card-steps__item">
                                <div class="card-steps__icon">
                                    <img loading="lazy" src="img/icons/precision-fit.svg" alt="">
                                </div>
                                <div class="card-steps__titles">
                                    <div class="card-steps__title">
                                        Выверенная посадка
                                    </div>
                                    <p>
                                        Мы тестируем наши модели на реальных девушках с разными типами фигур, чтобы
                                        добиться идеальной поддержки без давления и дискомфорта
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-steps">
                            <div class="card-steps__item">
                                <div class="card-steps__icon">
                                    <img loading="lazy" src="img/icons/materials.svg" alt="">
                                </div>
                                <div class="card-steps__titles">
                                    <div class="card-steps__title">
                                        Премиальные материалы
                                    </div>
                                    <p>
                                        Дышащая микрофибра, нежный хлопок и невесомое кружево. Мы отбираем ткани,
                                        которые ощущаются как вторая кожа и сохраняют форму после множества стирок
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-steps">
                            <div class="card-steps__item">
                                <div class="card-steps__icon">
                                    <img loading="lazy" src="img/icons/needle-thread.svg" alt="">
                                </div>
                                <div class="card-steps__titles">
                                    <div class="card-steps__title">
                                        Внимание к деталям
                                    </div>
                                    <p>
                                        Плоские швы, мягкие резинки и фурнитура, которая не оставляет следов на теле. Мы
                                        продумали каждую мелочь для вашего ежедневного уюта
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-about">
                <div class="container">
                    <div class="block-about__content">
                        <div class="block-about-top">
                            <div class="block-about-top__image">
                                <img loading="lazy" src="img/image6.webp" alt="">
                            </div>
                            <div class="block-about-top__body">
                                <div class="block-about-top__item">
                                    <blockquote>
                                        <img loading="lazy" src="img/icons/quote.svg" alt=""
                                            class="block-about-top__icon quote1">
                                        <p>
                                            Идеальное базовое белье — это то, о котором вы забываете сразу после того,
                                            как
                                            надели. Именно такую коллекцию мы рады представить вам сегодня
                                        </p>
                                        <img loading="lazy" src="img/icons/quote.svg" alt=""
                                            class="block-about-top__icon quote2">
                                    </blockquote>
                                    <div class="block-about-top__descr">
                                        <span>Основательница бренда:</span>
                                        Имя Фамилия Отчество
                                    </div>
                                </div>
                                <img loading="lazy" src="img/signature.webp" alt="" class="block-about-top__signature">
                            </div>
                        </div>
                        <div class="block-about-bottom">
                            <svg class="block-about-bottom__arrow" aria-hidden="true" width="8" height="81">
                                <use xlink:href="img/sprite.svg#arrow2"></use>
                            </svg>
                            <div class="block-about-bottom__body">
                                <h2 class="title2">
                                    Познакомьтесь с нашей новой базовой коллекцией и найдите <span>свой идеальный
                                        комплект</span>
                                </h2>
                                <a href="./" class="btn">
                                    <span>Перейти в каталог</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/newsletter.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>