<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Личный кабинет - история заказов (нет заказов)</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-account">
                <div class="container">
                    <div class="block-account__contents">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#" class="home">
                                        <img src="img/icons/home.svg" alt="">
                                    </a>
                                </li>
                                <li><span>Личный кабинет</span></li>
                            </ul>
                        </div>
                        <div class="block-account__content">
                            <div class="account-menu">
                                <ul>
                                    <li>
                                        <a href="./">
                                            <img src="img/icons/user1.svg" alt="">
                                            <span>Главная</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <img src="img/icons/sale-percent.svg" alt="">
                                            <span>Моя скидка</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./" class="active">
                                            <img src="img/icons/history.svg" alt="">
                                            <span>История заказов</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <img src="img/icons/heart.svg" alt="">
                                            <span>Избранное</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            <img src="img/icons/info.svg" alt="">
                                            <span>Личные данные</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./" class="logout">
                                            <span>Выйти</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-account__body">
                                <div class="block-account__top">
                                    <h1 class="title1">
                                        История заказов
                                    </h1>
                                </div>
                                <div class="account-empty">
                                    <div class="account-empty__body">
                                        <div class="account-empty__icon">
                                            <img src="img/icons/cart.svg" alt="">
                                        </div>
                                        <div class="account-empty__item">
                                            <div class="account-empty__title">
                                                Здесь будет храниться история ваших покупок и информация о доставке
                                            </div>
                                        </div>
                                    </div>
                                    <div class="account-empty__buttons">
                                        <a href="./" class="btn">
                                            <span>Перейти в каталог</span>
                                        </a>
                                        <a href="./" class="btn btn-border-brown">
                                            <span>Смотреть новинки</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>