<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            {% include 'blocks/header-search.njk' %}

            <div class="block-main block-main-other">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>Контакты</span></li>
                                </ul>
                            </div>
                            <h1 class="title1">
                                Свяжитесь с нами
                            </h1>
                            <p>
                                Мы всегда рады помочь вам с подбором идеального размера, ответить на вопросы по доставке
                                или просто выслушать ваши пожелания. Наша служба заботы на связи ежедневно с 10:00 до
                                20:00 (по московскому времени)
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-contacts">
                <div class="container">
                    <div class="block-contacts__body">
                        <div class="block-contacts__column">
                            <div class="block-contacts__icons">
                                <img src="img/icons/telegram.svg" alt="">
                                <img src="img/icons/max.svg" alt="">
                            </div>
                            <div class="block-contacts__item">
                                <p>
                                    Отвечаем в течение 5–10 минут. Идеально подходит для отправки фотографий (например,
                                    если есть вопрос по браку или посадке
                                </p>
                                <div class="block-contacts__links">
                                    <a href="./" class="block-contacts__link">
                                        <span>Написать в Telegram</span>
                                        <svg aria-hidden="true" width="6" height="11">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </a>
                                    <a href="./" class="block-contacts__link">
                                        <span>Написать в MAX</span>
                                        <svg aria-hidden="true" width="6" height="11">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-contacts__column">
                            <div class="block-contacts__icons">
                                <img src="img/icons/mail.svg" alt="">
                            </div>
                            <div class="block-contacts__item">
                                <p>
                                    Для предложений о сотрудничестве, прессы и оптовых запросов
                                </p>
                                <div class="block-contacts__mail">hello@bodybra.ru</div>
                                <div class="block-contacts__links">
                                    <a href="./" class="block-contacts__link">
                                        <span>Написать письмо</span>
                                        <svg aria-hidden="true" width="6" height="11">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-contacts-forms">
                <div class="container">
                    <div class="block-contacts-forms__content">
                        <svg class="block-contacts-forms__arrow" aria-hidden="true" width="8" height="81">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                        <h2 class="title2">
                            Напишите нам прямо <span>сейчас</span>
                        </h2>
                        <form action="#" data-dev data-popup-message="#thanks" class="form">
                            <div class="form__inputs">
                                <div class="form__input">
                                    <img loading="lazy" src="img/icons/user1.svg" alt="">
                                    <input data-required autocomplete="off" type="text" name="form[]" placeholder="Имя"
                                        class="input">
                                </div>
                                <div class="form__input">
                                    <img loading="lazy" src="img/icons/mail1.svg" alt="">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Электронная почта" class="input">
                                </div>
                                <div class="form__input">
                                    <img loading="lazy" src="img/icons/phone.svg" alt="">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Телефон" class="input">
                                </div>
                                <div class="form__input">
                                    <img loading="lazy" src="img/icons/order.svg" alt="">
                                    <input data-required autocomplete="off" type="text" name="form[]"
                                        placeholder="Номера заказа" class="input">
                                </div>
                                <div class="form__input textarea">
                                    <img loading="lazy" src="img/icons/pen.svg" alt="">
                                    <textarea placeholder="Текст сообщение" class="input textarea"></textarea>
                                </div>
                            </div>
                            <div class="form__text">
                                Нажимая кнопку «Отправить», вы даете согласие на обработку персональных данных в
                                соответствии с <a href="./">Политикой конфиденциальности</a>
                            </div>
                            <div class="form__buttons">
                                <button type="submit" class="btn">
                                    <span>Отправить сообщение</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="block-contacts-socials">
                <div class="container">
                    <h2 class="title2">
                        Вдохновляйтесь и следите за нашими новинками в <span>социальных сетях</span>
                    </h2>
                    <div class="socials">
                        <a href="./">
                            <img loading="lazy" src="img/icons/vk.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/ok.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/telegram.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icons/max.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-contacts-info">
                <div class="container">
                    <div class="block-contacts-info__content">
                        <div class="block-contacts-info__item">
                            <h2 class="title2">
                                Реквизиты организации
                            </h2>
                            <ul>
                                <li>
                                    <div class="block-contacts-info__name">
                                        Полное наименование:
                                    </div>
                                    <div class="block-contacts-info__value">
                                        ИП / ООО «БодиБра»
                                    </div>
                                </li>
                                <li>
                                    <div class="block-contacts-info__name">
                                        ИНН:
                                    </div>
                                    <div class="block-contacts-info__value">
                                        XXXXXXXXXX
                                    </div>
                                </li>
                                <li>
                                    <div class="block-contacts-info__name">
                                        ОГРН:
                                    </div>
                                    <div class="block-contacts-info__value">
                                        XXXXXXXXXXXXX
                                    </div>
                                </li>
                                <li>
                                    <div class="block-contacts-info__name">
                                        ОГРНИП:
                                    </div>
                                    <div class="block-contacts-info__value">
                                        XXXXXXXXXXXXXXX
                                    </div>
                                </li>
                                <li>
                                    <div class="block-contacts-info__name">
                                        Юридический адрес:
                                    </div>
                                    <div class="block-contacts-info__value">
                                        г. Москва, ул. Примерная, д. 1, оф. 1
                                    </div>
                                </li>
                                <li>
                                    <div class="block-contacts-info__name">
                                        Банковские реквизиты:
                                    </div>
                                    <div class="block-contacts-info__value">
                                        Р/С XXXXXXXXXXXXXXXXXXXX в ПАО «Банк», БИК XXXXXXXXX
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>