<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Доставка и оплата</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main block-main-other">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>Доставка и оплата</span></li>
                                </ul>
                            </div>
                            <h1 class="title1">
                                Доставка и оплата
                            </h1>
                            <p>
                                Мы сделали процесс покупки таким же комфортным, как и наше белье.
                                <br>
                                Быстрая доставка и безопасная оплата в один клик
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-delivery">
                <div class="container">
                    <div class="block-delivery__body">
                        <div class="block-delivery__column">
                            <div class="block-delivery__icon">
                                <img src="img/icons/box.svg" alt="">
                            </div>
                            <div class="block-delivery__item">
                                <div class="block-delivery__title">
                                    В пункты выдачи<br> заказов Ozon
                                </div>
                                <div class="block-delivery__text">
                                    Получайте заказы в удобном для вас ПВЗ рядом с домом или работой
                                </div>
                                <p>
                                    Сроки и стоимость рассчитываются автоматически при оформлении заказа. В корзине
                                    доступна интерактивная карта для быстрого выбора нужного пункта
                                </p>
                            </div>
                        </div>
                        <div class="block-delivery__column column-bg">
                            <div class="block-delivery__icon">
                                <img src="img/icons/send.svg" alt="">
                            </div>
                            <div class="block-delivery__item">
                                <div class="block-delivery__title">
                                    Обращаем внимание
                                </div>
                                <div class="block-delivery__text">
                                    Отправка заказов осуществляется после <span class="sale-text">100%</span> предоплаты
                                    на сайте. Отследить статус
                                    сборки заказа можно в Личном кабинете
                                </div>
                                <a href="./" class="btn">
                                    <img loading="lazy" src="img/icons/user3.svg" alt="">
                                    <span>Личный кабинет</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-payment">
                <div class="container">
                    <h2 class="title2">
                        Способы оплаты
                    </h2>
                    <div class="block-payment__body">
                        <div class="block-payment__column">
                            <div class="block-payment__image">
                                <img loading="lazy" src="img/icons/visa2.svg" alt="" class="block-payment__pic1">
                                <img loading="lazy" src="img/icons/mir2.svg" alt="" class="block-payment__pic1">
                                <img loading="lazy" src="img/icons/mastercard2.svg" alt="" class="block-payment__pic1">
                            </div>
                            <div class="block-payment__item">
                                <div class="block-payment__title">
                                    Оплата банковской картой онлайн
                                </div>
                                <p>
                                    Оплата через защищенный платежный шлюз <span>ЮKassa</span>. Данные вашей карты
                                    передаются в
                                    зашифрованном виде и не сохраняются на нашем сервере
                                </p>
                            </div>
                        </div>
                        <div class="block-payment__column">
                            <div class="block-payment__image">
                                <img loading="lazy" src="img/icons/check2.svg" alt="" class="block-payment__pic2">
                            </div>
                            <div class="block-payment__item">
                                <div class="block-payment__title">
                                    Электронный чек
                                </div>
                                <p>
                                    Сразу после успешной оплаты мы автоматически отправим официальный электронный чек на
                                    вашу почту в соответствии с законодательством <span>РФ (ФЗ-54)</span>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-info-buy">
                <div class="container">
                    <div class="block-info-buy__content">
                        <svg class="block-info-buy__arrow" aria-hidden="true" width="8" height="81">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                        <div class="block-info-buy__body">
                            <h2 class="title2">
                                Важно знать перед покупкой
                            </h2>
                            <div class="block-info-buy__texts">
                                <p>
                                    Согласно Постановлению Правительства РФ, швейные и трикотажные бельевые изделия
                                    (нижнее белье, купальники, пижамы, сорочки) надлежащего качества <span>обмену и
                                        возврату
                                        не подлежат</span>
                                </p>
                                <p class="bg">
                                    Чтобы покупка принесла только радость, пожалуйста, сверьте свои мерки с нашей
                                    <a href="./" class="p-table">Таблицей размеров</a> <span>или обратитесь за помощью к
                                        нашим консультантам</span>
                                </p>
                            </div>
                            <div class="block-info-buy__text">
                                <p>
                                    <img loading="lazy" src="img/icons/info.svg" alt="">
                                    <span>Если вы обнаружили производственный брак, мы без проблем оформим возврат
                                        средств.</span>
                                </p>
                                <div class="block-info-buy__link">
                                    <span>Подробнее в разделе -</span>
                                    <a href="./">
                                        Обмен и возврат
                                        <svg aria-hidden="true" width="6" height="11">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-help">
                <div class="container">
                    <div class="block-help__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                Возникли сложности с выбором размера или оформлением заказа?
                            </h2>
                            <p>
                                Напишите нам, мы на связи ежедневно <span class="sale-text">с 10:00 до 20:00</span>
                            </p>
                        </div>
                        <div class="block-help__buttons">
                            <a href="./" class="btn">
                                <span>Написать в Telegram</span>
                            </a>
                            <a href="./" class="btn btn-border-brown">
                                <span>Написать в MAX</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>