<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Вопросы и ответы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            {% include 'blocks/header-search.njk' %}

            <div class="block-main block-main-faq">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>Вопросы и ответы</span></li>
                                </ul>
                            </div>
                            <h1 class="title1">
                                Частые вопросы
                            </h1>
                            <p>
                                Мы собрали ответы на самые популярные вопросы, чтобы ваши покупки были максимально
                                комфортными и быстрыми
                            </p>
                        </div>
                        <div class="filter-sorting">
                            <button data-filter="filter1" type="button" class="filter-sorting__button active">
                                <span data-text="Оформление и оплата">Оформление и оплата</span>
                            </button>
                            <button data-filter="filter2" type="button" class="filter-sorting__button">
                                <span data-text="Доставка">Доставка</span>
                            </button>
                            <button data-filter="filter3" type="button" class="filter-sorting__button">
                                <span data-text="Скидки и лояльность">Скидки и лояльность</span>
                            </button>
                            <button data-filter="filter4" type="button" class="filter-sorting__button">
                                <span data-text="Размеры и возврат">Размеры и возврат</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-faq">
                <div class="container">
                    <div data-filter="filter1" data-spollers class="spollers-faq filter-card">
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon">
                                    <span></span>
                                </div>
                                <div class="spollers-faq__title">
                                    Какие способы оплаты вы принимаете?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Можно ли оплатить заказ при получении?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Безопасно ли вводить данные карты на сайте?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-filter="filter2" data-spollers class="spollers-faq filter-card">
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Безопасно ли вводить данные карты на сайте?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon">
                                    <span></span>
                                </div>
                                <div class="spollers-faq__title">
                                    Какие способы оплаты вы принимаете?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Можно ли оплатить заказ при получении?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-filter="filter3" data-spollers class="spollers-faq filter-card">
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon">
                                    <span></span>
                                </div>
                                <div class="spollers-faq__title">
                                    Какие способы оплаты вы принимаете?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Можно ли оплатить заказ при получении?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Безопасно ли вводить данные карты на сайте?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-filter="filter4" data-spollers class="spollers-faq filter-card">
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Безопасно ли вводить данные карты на сайте?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon">
                                    <span></span>
                                </div>
                                <div class="spollers-faq__title">
                                    Какие способы оплаты вы принимаете?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="spollers-faq__item">
                            <button type="button" data-spoller class="spollers-faq__button">
                                <div class="spollers-faq__icon"><span></span></div>
                                <div class="spollers-faq__title">
                                    Можно ли оплатить заказ при получении?
                                </div>
                            </button>
                            <div class="spollers-faq__body">
                                <div class="spollers-faq__text">
                                    <p>
                                        Нет, мы отправляем заказы только после 100% онлайн-оплаты на сайте. Это
                                        позволяет нам максимально быстро передавать товары в логистику и гарантирует,
                                        что заказ точно дождется вас в пункте выдачи
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-help">
                <div class="container">
                    <div class="block-help__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                Не нашли ответ на свой вопрос?
                            </h2>
                            <p>
                                Напишите нам, мы на связи ежедневно и с радостью поможем вам
                            </p>
                        </div>
                        <div class="block-help__buttons">
                            <a href="./" class="btn">
                                <span>Написать в Telegram</span>
                            </a>
                            <a href="./" class="btn btn-border-brown">
                                <span>Написать в MAX</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>