<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Востановление пароля - письмо</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

             {% include 'blocks/header-search.njk' %}

            <div class="block-main">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>Восстановление пароля</span></li>
                                </ul>
                            </div>
                            <div class="block-check">
                                <div class="block-check__icon">
                                    <img src="img/icons/tick.svg" alt="">
                                </div>
                                <h1 class="title1">Письмо отправлено</h1>
                                <p>
                                    Мы отправили ссылку для восстановления доступа на адрес
                                    <span>anna@example.com</span>.<br>
                                    Пожалуйста, проверьте вашу почту (и папку «Спам», если письма долго нет).
                                </p>
                                <a href="./" class="btn">Сохранить и войти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>