<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новый пароль</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main block-main-forms">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>Восстановление пароля</span></li>
                                </ul>
                            </div>
                            <h1 class="title1">
                                Придумайте новый пароль
                            </h1>
                            <p>
                                Пожалуйста, введите новый пароль для вашей учетной записи
                            </p>
                        </div>
                        <form action="#" data-dev data-popup-message="#thanks" class="form form-password">
                            <div class="form__inputs">
                                <div class="form__input">
                                    <img loading="lazy" src="img/icons/lock.svg" alt="">
                                    <input data-required autocomplete="off" type="password" name="form[]"
                                        placeholder="Новый пароль" class="input">
                                    <button type="button" class="form__viewpass">
                                        <img src="img/icons/eye1.svg" alt="" class="icon1">
                                        <img src="img/icons/eye2.svg" alt="" class="icon2">
                                    </button>
                                </div>
                                <div class="form__input">
                                    <img loading="lazy" src="img/icons/lock.svg" alt="">
                                    <input data-required autocomplete="off" type="password" name="form[]"
                                        placeholder="Повторите новый пароль" class="input">
                                    <button type="button" class="form__viewpass">
                                        <img src="img/icons/eye1.svg" alt="" class="icon1">
                                        <img src="img/icons/eye2.svg" alt="" class="icon2">
                                    </button>
                                </div>
                            </div>
                            <div class="form__buttons">
                                <button type="submit" class="btn">
                                    <span>Сохранить и войти</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>