<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Оформление заказа - итоговая смета</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            {% include 'blocks/header-search.njk' %}

            <div class="block-main block-main-order">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>Корзина и оформление заказа</span></li>
                                </ul>
                            </div>
                            <h1 class="title1">
                                Оформление заказа
                            </h1>
                        </div>
                        <div class="filter-sorting">
                            <div class="filter-sorting__button active">
                                <span data-text="Корзина">Корзина</span>
                            </div>
                            <div class="filter-sorting__button active">
                                <span data-text="Данные покупателя">Данные покупателя</span>
                            </div>
                            <div class="filter-sorting__button active">
                                <span data-text="Выбор доставки">Выбор доставки</span>
                            </div>
                            <div class="filter-sorting__button active">
                                <span data-text="Способ оплаты">Способ оплаты</span>
                            </div>
                            <div class="filter-sorting__button active">
                                <span data-text="Итоговая смета">Итоговая смета</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-order">
                <div class="container">
                    <div class="block-order__content">
                        <form action="#" class="block-order__total">
                            <div class="block-order__info">
                                <ul>
                                    <li>
                                        <div class="block-order__name">
                                            Товары (3 шт.):
                                        </div>
                                        <div class="block-order__line"></div>
                                        <div class="block-order__value">
                                            7 500 ₽
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-order__name">
                                            Ваша скидка (15%):
                                        </div>
                                        <div class="block-order__line"></div>
                                        <div class="block-order__value value-bg">
                                            -1 125 ₽
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-order__name">
                                            Доставка (Ozon):
                                        </div>
                                        <div class="block-order__line"></div>
                                        <div class="block-order__value">
                                            250 ₽
                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-order__name name-total">
                                            Итого к оплате:
                                        </div>
                                        <div class="block-order__line"></div>
                                        <div class="block-order__value value-total value-bg">
                                            6 625 ₽
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-order__buttons">
                                <a href="./" class="btn">
                                    <span>Оплатить заказ</span>
                                    <svg aria-hidden="true" width="6" height="11">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                </a>
                                <div class="block-order__text">
                                    Нажимая на кнопку, вы соглашаетесь с <a href="./">Политикой конфиденциальности</a>.
                                    Чек будет
                                    отправлен на вашу почту
                                </div>
                                <a href="./" class="btn btn-border-brown">
                                    <span>Перейти в каталог</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="block-help">
                <div class="container">
                    <div class="block-help__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                Возникли сложности с выбором размера или оформлением заказа?
                            </h2>
                            <p>
                                Напишите нам, мы на связи ежедневно <span class="sale-text">с 10:00 до 20:00</span>
                            </p>
                        </div>
                        <div class="block-help__buttons">
                            <a href="./" class="btn">
                                <span>Написать в Telegram</span>
                            </a>
                            <a href="./" class="btn btn-border-brown">
                                <span>Написать в MAX</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>