<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Обмен и возврат</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main block-main-other">
                <div class="container">
                    <div class="block-main__content">
                        <div class="heading-complex">
                            <div class="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="#" class="home">
                                            <img src="img/icons/home.svg" alt="">
                                        </a>
                                    </li>
                                    <li><span>Обмен и возврат</span></li>
                                </ul>
                            </div>
                            <h1 class="title1">
                                Обмен и возврат
                            </h1>
                            <p>
                                Мы трепетно относимся к вашему здоровью и комфорту, поэтому соблюдаем все стандарты
                                гигиены и законодательство РФ
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-return-descr">
                <div class="container">
                    <div class="block-return-descr__content">
                        <svg class="block-return-descr__arrow" aria-hidden="true" width="8" height="81">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                        <div class="block-return-descr__body">
                            <h2 class="title2">
                                Нижнее белье и одежда для сна
                            </h2>
                            <p>
                                Согласно Постановлению Правительства РФ, швейные и бельевые трикотажные изделия
                                (бюстгальтеры, трусы, купальники, боди, пижамы, сорочки и халаты) надлежащего качества
                                <span>не подлежат обмену и возврату</span>
                            </p>
                            <div class="block-return-descr__info">
                                <img loading="lazy" src="img/icons/info.svg" alt="">
                                <p>
                                    Это правило создано для вашей безопасности. Покупая белье у нас, вы можете
                                    быть
                                    абсолютно уверены, что до вас его никто не примерял. Именно поэтому мы просим
                                    вас
                                    внимательно сверяться с нашей <a href="./">
                                        Таблицей размеров <svg aria-hidden="true" width="6" height="11">
                                            <use xlink:href="img/sprite.svg#arrow1"></use>
                                        </svg>
                                    </a> перед оформлением заказа
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-defect">
                <div class="container">
                    <div class="block-defect__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                Если вы обнаружили брак
                            </h2>
                            <p>
                                Мы тщательно проверяем каждый комплект перед отправкой, но если вы все же обнаружили
                                производственный дефект (неровный шов, сломанную фурнитуру или повреждение ткани до
                                примерки), мы без проблем заменим товар или вернем вам деньги в полном объеме, включая
                                расходы на доставку
                            </p>
                            <div class="heading-complex__info">
                                <img loading="lazy" src="img/icons/info.svg" alt="">
                                <span>
                                    Заявки на возврат по браку принимаются в течение 7 дней с момента получения заказа.
                                    Товар не должен быть в употреблении, необходимо сохранить бирки и оригинальную
                                    упаковку
                                </span>
                            </div>
                        </div>
                        <img loading="lazy" src="img/image4.webp" alt="" class="block-defect__pic1">
                    </div>
                </div>
            </div>

            <div class="block-return-steps">
                <div class="container">
                    <h2 class="title2">
                        как оформить возврат по браку
                    </h2>
                    <div class="block-return-steps__body">
                        <div class="card-steps">
                            <div class="card-steps__badge">
                                Шаг 1
                            </div>
                            <div class="card-steps__item">
                                <div class="card-steps__icon">
                                    <img loading="lazy" src="img/icons/chat.svg" alt="">
                                </div>
                                <div class="card-steps__titles">
                                    <div class="card-steps__title">
                                        Напишите нам
                                    </div>
                                    <p>
                                        Свяжитесь с нашей службой заботы в Telegram или MAX. Приложите 2-3 четкие
                                        фотографии дефекта и укажите номер вашего заказа
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-steps">
                            <div class="card-steps__badge">
                                Шаг 2
                            </div>
                            <div class="card-steps__item">
                                <div class="card-steps__icon">
                                    <img loading="lazy" src="img/icons/send.svg" alt="">
                                </div>
                                <div class="card-steps__titles">
                                    <div class="card-steps__title">
                                        Отправка товара
                                    </div>
                                    <p>
                                        После подтверждения заявки мы пришлем вам трек-номер для бесплатной отправки
                                        бракованного изделия через ближайший ПВЗ Ozon
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-steps">
                            <div class="card-steps__badge">
                                Шаг 3
                            </div>
                            <div class="card-steps__item">
                                <div class="card-steps__icon">
                                    <img loading="lazy" src="img/icons/money.svg" alt="">
                                </div>
                                <div class="card-steps__titles">
                                    <div class="card-steps__title">
                                        Возврат средств
                                    </div>
                                    <p>
                                        Мы вернем деньги на ту же карту, с которой был оплачен заказ, в течение 3–10
                                        рабочих дней после того, как получим товар на наш склад (срок зачисления зависит
                                        от вашего банка)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-help">
                <div class="container">
                    <div class="block-help__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                Остались вопросы?
                            </h2>
                            <p>
                                Если вы не уверены в размере или у вас возникла нестандартная ситуация с заказом,
                                пожалуйста, напишите нам. Мы всегда стараемся пойти навстречу нашим покупательницам
                            </p>
                        </div>
                        <div class="block-help__buttons">
                            <a href="./" class="btn">
                                <span>Написать в Telegram</span>
                            </a>
                            <a href="./" class="btn btn-border-gold">
                                <span>Написать в MAX</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>